{
  "presets": [
    ["env", {
      "targets": {
        "node": "7.10.1"
      }
    }],
    "flow"
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  },
  "plugins": [
    "transform-class-properties",
    "transform-export-extensions",
    "transform-object-rest-spread",
    "transform-strict-mode"
  ]
}
